<div class="footerR  vw-100" xmlns:th="http://www.thymeleaf.org">
    <div class="col1">
        <div class="resName">NONAME</div>
        <p style="margin-top:0% ">Restaurant</p>
        <p>Address: 100 Tran Bach Dang, Ngu Hanh Son, Da Nang City</p>
    </div>

    <div class="col2 ">
        <p><a th:href="@{/viewProfile}">Account</a></p>
        <p><a href="# ">Restaurant's Rules</a></p>
        <p><a href="# ">Terms of use</a></p>
    </div>

    <div class="col3 ">
        <p>Hotline : 1900 1001</p>
        <p>Email : NonameSupport@gmail.com</p>
        <div class="social ">
            <p>Follow : <span>
                <a href="# " class="iconSocial "><i class=" fab fa-facebook "></i></a>
                <a href="# " class="iconSocial "><i class=" fab fa-twitter "></i></a>
                <a href="# " class="iconSocial "><i class=" fab fa-instagram "></i></a>
            </span>
            </p>
        </div>
    </div>
</div>