<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap-5.0.2-dist/css/bootstrap.min.css">

    <script type="text/javascript" src="/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/fontawesome-free-5.15.2-web/css/all.min.css" />
    <link rel="stylesheet" href="/css/khungAdmin.css" />
    <title th:utext="${title}"></title>
</head>

<body>
    <!-- sidebar -->
    <div class="container-fluid px-0">
        <!-- <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-drak px-0 w-100 fix menuBar" style="background-color: black;height:80px">
            <div class="container-fluid">

                <div class="collapse navbar-collapse d-flex" id="navbarNav">
                    <span class="text-white ms-3">
                       Noname restaurant
                   </span>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user-circle fa-2x me-2"></i> <span>Admin </span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" th:href="@{/viewProfileAd}">View Profile</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" th:href="@{/signout}"><i class="fas fa-sign-out-alt"></i>
                                       Sign out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> -->

        <th:block th:include="/headerAd"></th:block>

        <div class="row flex-nowrap ">
            <div class=" col-auto col-md-3 col-xl-2 d-flex flex-column flex-shrink-0 px-0 text-dark menuBar">
                <ul class="nav nav-pills flex-column sticky-top ">
                    <div class="mt-1"></div>
                    <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none mt-5 ">
                        <i class="d-none d-sm-inline fas fa-user-cog fa-2x ms-5"></i>
                        <span class="d-none d-sm-inline ms-5">Admin</span>
                    </a>
                    <li class="nav-item sm-mt-3 mt-5 mb-4">
                        <a th:href="@{/manageEmployee}" class="nav-link " aria-current="page">
                            <i class="fa fa-user-tag ms-3"></i></i><span class="d-none d-sm-inline ms-1">Manage
                                Employees</span>
                        </a>
                    </li>
                    <li class="nav-item  mb-4 ">
                        <a th:href="@{/manageCustomerAd}" class="nav-link text-dark ">
                            <i class="fa fa-user ms-3"></i><span class="d-none d-sm-inline ms-2">Manage Customers</span>
                        </a>
                    </li>
                    <li class="nav-item  mb-4 ">
                        <a th:href="@{/manageStockAd}" class="nav-link text-dark ">
                            <i class="fas fa-cubes ms-3"></i><span class="d-none d-sm-inline ms-2">Manage Stock</span>
                        </a>
                    </li>
                    <li class="nav-item mb-4 ">
                        <a th:href="@{/manageBookingAd}" class="nav-link text-dark ">
                            <i class="far fa-bookmark ms-3"></i><span class="d-none d-sm-inline ms-2">Manage
                                Booking</span>
                        </a>
                    </li>
                    <li class="nav-item  mb-4 ">
                        <a th:href="@{/managePaymentAd}" class="nav-link text-dark ">
                            <i class="fas fa-file-invoice-dollar ms-3"></i><span class="d-none d-sm-inline ms-2">Manage
                                Payment</span>
                        </a>
                    </li>
                    <li class="nav-item  mb-4  ">
                        <a th:href="@{/manageMenu}" class="nav-link text-dark active">
                            <i class="fas fa-clipboard ms-3"></i><span class="d-none d-sm-inline ms-2">Manage
                                Menu</span>
                        </a>
                    </li>
                    <li class="nav-item  mb-4 ">
                        <a th:href="@{/manageStatiticsAd}" class="nav-link text-dark ">
                            <i class="fas fa-chart-line ms-3"></i><span class="d-none d-sm-inline ms-2">Manage
                                Statitics</span>
                        </a>
                    </li>
                    <li class="nav-item mb-4 ">
                        <a th:href="@{/manageFeedback}" class="nav-link text-dark">
                            <i class="fa fa-comment-dots ms-3"></i><span class="d-none d-sm-inline ms-2">Manage
                                Feedback</span>
                        </a>
                    </li>
                    <li class="nav-item mb-4 ">
                        <a th:href="@{/manageOffer}" class="nav-link text-dark">
                            <i class="fa fa-comment-dots ms-3"></i><span class="d-none d-sm-inline ms-2">Manage
                                Offer</span>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- <th:block th:include="/menuManageAd"></th:block> -->

            <div class="col ms-5">
                <div class="col-11 subBody ">

                    <div class="titleA">Employee list
                        <hr>
                    </div>

                    <div class="row contentA">
                        <!-- + khi đặt class thì ko bỏ dấu "-" vì dễ thay đổi class trùng trong bootstrap ảnh hưởng đến css những đoạn khác
                        + tất cả class đặt cho admin thì có chữ A ở cuối, vd: statiticA, với nhân viên thì tương tự như Cashier là C vd: statiticC...
                     + đặt tên class đặt rõ ràng viết liền in hoa từ chữ cái thứ 2, vd: viewEmployeeListA, viewEmptyTableA...
                    + những cái cái nào giữa các web giống nhau có thể dùng chung thì dùng, vd: title là tiêu đề trang nào cũng kích thước và kiểu giống nhau
                -->
                        <!-- Button trigger modal -->
                        <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>
 
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha --
                        làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây
                        nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào
                        đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm
                        vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha
                        - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây
                        nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây
                        nha - làm vào đây nha - làm vào đây nha - làm vào sđây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha -- làm vào đây nha - làm vào đây nha - làm vào đây nha - làm
                        vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha
                        - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây
                        nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào
                        đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm
                        vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha
                        - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây
                        nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha -- làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm
                        vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha
                        - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây
                        nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào
                        đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm
                        vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha
                        -đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha -- làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha -
                        làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây
                        nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào
                        đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm
                        vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha
                        - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây
                        nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào
                        đây nha - làm vào đây nha - làm vào đây nha -- làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha -
                        làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây
                        nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào
                        đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm
                        vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha
                        - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha - làm vào đây nha -


                    </div>


                </div>
            </div>


        </div>

    </div>
    <div class="footerA containter-fluid px-0">
        <div class="ft"> Copyright <i class="far fa-copyright"></i> 2021</div>
    </div>
</body>

</html>