<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Register</title>
<link rel="stylesheet"
	href="/bootstrap-5.0.2-dist/css/bootstrap.min.css">

<script type="text/javascript"
	src="/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet"
	href="/fontawesome-free-5.15.2-web/css/all.min.css" />
<link rel="stylesheet" href="/css/khungCustomer.css">
<link rel="stylesheet" href="/css/Customer1.css">
<script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/js/validRegister.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head> 
<body>
	<div class="bodyC1 container-fluid">
		<nav class ="navbar navbar-expand-md navbar-dark min-vw-100">
			<div class="container-fluid">
				<a th:href="@{/}">
					<div class="navbar-brand"
						style="line-height: 30px; width: 180px; padding: 0px;">
						<div class="resName headerLogin">NONAME</div>
						<img class="img-fluid" src="../images/Logo.png" alt="logo">
					</div>
				</a>

			</div>
		</nav>

		<div class="container bodyHomeC ">
			<div
				class="col-xs-10 col-md-9 col-lg-12 m-auto pd-3 min-vh-80 bodyRegis">
				<div class="title">Register</div>
				<form class="row px-4 " th:object="${customer}"
					th:action="@{/register}" id="regisForm" enctype="multipart/form-data"  method="post">
					<div class="col-lg-5 col-sm-12 mx-auto ">
						<div class="form-group">
							<label for="" class="font-weight-bold">Name<span class="text-danger"> * </span></label> <input
								type="text" class="form-control"  name="cusName"
								placeholder="Type name...">
						</div>
						<div class="form-group">
							<label for="" class="font-weight-bold">Password<span class="text-danger"> * </span></label> <input
								type="password" class="form-control" 
								name="loginId.encrytedPassword" id="Password1" placeholder="Password...">
						</div>
						<div class="form-group">
							<label for="" class="font-weight-bold">Confirm Password<span class="text-danger"> * </span></label> <input
								type="password" class="form-control" name="repassword" 
								placeholder="Password...">
						</div>
						<div class="form-group">
							<label for="" class="font-weight-bold">Birthday<span class="text-danger"> * </span></label> <input
								type="date" class="form-control" name="birthday" 
								placeholder="--/--/----">
						</div>
					</div>
					<div class="col-lg-5 col-sm-12 mx-auto ">
						<div class="form-group">
							<label for="" class="font-weight-bold">Email<span class="text-danger"> * </span></label> <input
								type="text" class="form-control" name="loginId.email" 
								placeholder="Type email...">
						</div>
						<div class="form-group">
							<label for="" class="font-weight-bold">Phone<span class="text-danger"> * </span></label> <input
								type="text" class="form-control" name="loginId.phone" 
								placeholder="Type phone...">
						</div>
						
							<div class="form-group">
								<label for="" class="font-weight-bold">Profile Picture</label>
								<div class="input-group">
									<input placeholder="..." class="form-control custom-file-input" type="file" name="formFile" id="formFile" accept ="image/png, image/jpeg">
								</div>
							</div>
					

						<div class="form-group m-0 mt-lg-4  mt-3">
							<label for="" class=" font-weight-bold">Gender<span class="text-danger"> * </span></label>  
							<div>
								<div class="form-check form-check-inline ms-5"	>
									<input class="form-check-input" type="radio" name="gender"
										value="Male" id="validationFormCheck1" > <label class="form-check-label"
										  for="validationFormCheck1">Male</label>
								</div>
								<div class="form-check form-check-inline ms-2">
									<input class="form-check-input" type="radio" name="gender"
										value="Female" id="validationFormCheck2" > <label class="form-check-label"
										 for="validationFormCheck2">Female</label>
								</div>
								<div class="form-check form-check-inline ms-2">
									<input class="form-check-input" type="radio" name="gender"
										value="Others" id="validationFormCheck3" > <label class="form-check-label"
										 for="validationFormCheck3">Others</label>
								</div>
							</div>
						</div>
						
						<div class="form-group row px-3 mb-5">
								<!-- <div class="row px-2"> -->
								<button type="submit" class="btn btn-default btnR ms-auto col-lg-4 col-xs-12 ">Done</button>
							<!-- 	</div> -->
	
							</div>
					</div>

				</form>
			</div>
		</div>
	</div>

<div th:insert="~{messager :: messager}"></div>
</body>

</html>