<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap-5.0.2-dist/css/bootstrap.min.css">

    <script type="text/javascript" src="/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/khungCustomer2.css">
    <link rel="stylesheet" href="/fontawesome-free-5.15.2-web/css/all.min.css" />

    <title th:utext="${title}"> </title>
</head>

<body>
    <div class="bodyC1 container-fluid px-0">

        <!-- Include header.html -->
        <!-- <th:block th:include="/header"></th:block> -->

       <nav 
			class="navbar navbar-expand-md navbar-dark headerC min-vw-100">
			<div class="container-fluid">
				<div class="navbar-brand" style="height: 100px; width: 180px;">
					<div class="resName">NONAME</div>
					<img class="img-fluid" src="/images/Logo.png" alt="logo">
				</div>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
					aria-controls="navbarCollapse" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav ms-auto me-auto mb-2 mb-md-0">
						<li class="nav-item "><a class="nav-link "
							aria-current="page" th:href="@{/}">Home</a></li>
						<li class="nav-item ms-xxl-5"><a class="nav-link "
							th:href="@{/about}">About</a></li>
						<li class="nav-item ms-xxl-5"><a class="nav-link "
							th:href="@{/menu}">Menu</a></li>
						<li class="nav-item ms-xxl-5"><a class="nav-link active"
							th:href="@{/newBookingCus}">Booking Table</a></li>
						<li class="nav-item ms-xxl-5"><a class="nav-link "
							th:href="@{/photos}">Photos</a></li>
						<li class="nav-item ms-xxl-5"><a class="nav-link "
							th:href="@{/contact}">Contact</a></li>
						<li
							th:if="${(#request.userPrincipal != null)  && (User.role != 'ROLE_USER')}"
							class="nav-item ms-xxl-5"><a class="nav-link "
							th:href="@{/manageEmployee}">Admin page</a></li>
					</ul>
					<div th:if="${#request.userPrincipal == null}"
						class="d-flex ms-auto me-lg-3">
						<ul class="navbar-nav ms-auto me-auto mb-lg-2 mb-md-0">
							<li class="nav-item "><a class="nav-link"
								th:href="@{/login}">Login</a></li>
							<li class="nav-item ms-xxl-1 "><a
								class="d-none d-lg-block nav-link">/</a></li>
							<li class="nav-item ms-xxl-1 "><a class="nav-link"
								th:href="@{/register}">Register</a></li>
						</ul>
					</div>
					<div
						th:if="${(#request.userPrincipal != null)  && (User.role == 'ROLE_USER')}"
						class="d-flex ms-auto me-lg-3">
						<a class="nav-link dropdown-toggle m-auto" id="navbarDropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<img
							th:if="${(Customer.avatar != '') && (Customer.avatar != null)}"
							class="avaMini"
							th:src="'/images/avatarC/'+${Customer.customerID}+'/'+${Customer.avatar}" />
							<i
							th:if="${(Customer.avatar == '') || (Customer.avatar == null)}"
							class="fas fa-user-circle fa-2x"></i> <span
							th:text="${Customer.cusName}"></span>
						</a>
						<ul class="dropdown-menu dropdown-menu-end sm-dropdown-menu-top"
							aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" th:href="@{/viewProfile}">View
									Profile</a></li>
							<li><a class="dropdown-item"
								th:href="@{/transactionHistory}">View Transaction History</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item" th:href="@{/logout}"><i
									class="fas fa-sign-out-alt"></i> Sign out</a></li>
						</ul>
					</div>

					<div
						th:if="${(#request.userPrincipal != null)  && (User.role != 'ROLE_USER')}"
						class="d-flex ms-auto">
						<a class="nav-link dropdown-toggle m-auto" id="navbarDropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<img
							th:if="${(Employee.empAvatar != '') && (Employee.empAvatar != null)}"
							class="avaMini"
							th:src="'/images/avatarE/'+${Employee.employeeID}+'/'+${Employee.empAvatar}"
							alt="ava" /> <i
							th:if="${(Employee.empAvatar == '') || (Employee.empAvatar == null)}"
							class="fas fa-user-circle fa-2x"></i> <span
							th:text="${Employee.empName}"></span>
						</a>
						<ul class="dropdown-menu dropdown-menu-end sm-dropdown-menu-top"
							aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" th:href="@{/viewProfile}">View
									Profile</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item" th:href="@{/logout}"><i
									class="fas fa-sign-out-alt"></i> Sign out</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>

        <div class="container bodyHomeC " style="min-height:80vh">
            <div class="row ">
                <div class="col-xl-12 ">
                    <h2>Message : <span th:utext="${message}"></span></h2>

                </div>
            </div>


        </div>

        <!-- Include footer.html -->
        <th:block th:include="/footer"></th:block>

        <!-- <div class="footerR">
            <div class="col1">
                <div class="resName">NONAME</div>
                <p style="margin-top:0% ">Restaurant</p>
                <p>Address: 100 Tran Bach Dang, Ngu Hanh Son, Da Nang City</p>
            </div>

            <div class="col2 ">
                <p><a href="# ">Account</a></p>
                <p><a href="# ">Restaurant's Rules</a></p>
                <p><a href="# ">Terms of use</a></p>
            </div>

            <div class="col3 ">
                <p>Hotline : 1900 1001</p>
                <p>Email : NonameSupport@gmail.com</p>
                <div class="social ">
                    <p>Follow : <span>
                        <a href="# " class="iconSocial "><i class=" fab fa-facebook "></i></a>
                        <a href="# " class="iconSocial "><i class=" fab fa-twitter "></i></a>
                        <a href="# " class="iconSocial "><i class=" fab fa-instagram "></i></a>
                    </span>
                    </p>
                </div>
            </div>
        </div> -->
    </div>

</body>

</html>