.contentA1 {
    display: flex;
}

.contentA111 {
    display: flex;
}

.contentA112 {
    display: flex;
}

.contentA13 {
    margin-bottom: 10px;
}

.contentA131 {
    display: flex;
}

.contentA132 {
    display: flex;
}

.form-check {
    left: 5px;
    padding-right: 20px;
}

.table {
    width: 100%;
    height: 100%;
}

.contentA3 {}

.icon-note-garbage {
    display: flex;
}

.col-12 {
    padding-left: 0;
}

.form-check {
    padding-left: 2em;
}

.modal-body {
    background-color: #a4a4a48e;
}

.modal .modal-dialog .modal-content {
    border: solid 2px #606060;
}

.modal-header {
    background-color: black;
    color: white;
}

.form-fill-details {
    display: flex;
}

.col-6 {
    border-color: black;
}

.form-fill-title {
    padding-top: 10px;
}

.form-fill-name {
    padding-bottom: 10px;
    display: flex;
}

.form-fill-phone {
    padding-bottom: 10px;
    display: flex;
}

.form-fill-address {
    padding-bottom: 10px;
    display: flex;
}

.form-fill-mail {
    padding-bottom: 10px;
    display: flex;
}

.form-fill-password {
    padding-bottom: 10px;
    display: flex;
}

.form-fill-confirm-password {
    padding-bottom: 10px;
    display: flex;
}

.form-fill-gender {
    display: flex;
}

.form-fill-role {
    display: flex;
}

.btn-white {
    background-color: white;
}

.btn-footer {
    padding: 10px;
}

.col-4 {
    width: 36%;
}

i.fa-pen-alt {
    color: rgb(6, 23, 202);
}

i.fa-trash-alt {
    color: rgb(194, 0, 0);
}

button.btn-dark:hover {
    background-color: rgb(0, 0, 0);
    box-shadow: 0 1px 10px rgb(226, 168, 22);
}

button.btn-dark:focus {
    background-color: rgb(64, 64, 64);
    box-shadow: 0 1px 10px rgb(145, 145, 145);
    border: 0 !important;
}

button.btn-dark {
    margin-right: 1vw;
    border: none;
    padding: 9px auto !important;
    border-radius: 10px;
    height: 42px;
    min-width: 110px;
}

tbody tr:nth-child(odd) {
    background-color: rgb(211, 211, 211);
}

tbody tr:hover {
    background-color: rgb(255, 239, 196);
}

tbody tr th:nth-child(1) {
    border-radius: 5px !important;
}

.img-fluid,
.block-image {
    height: 80px;
    width: 80px !important;
    margin-left: 32px;
}

i.fa-plus {
    margin-right: 2px;
}

i.fa-times {
    margin-right: 2px;
}

thead tr {
    border-radius: 5px;
}


/* tbody tr th,
td {
     border: 1px #535353;
} */